.fab{
    height: 50px;
    width: 50px;
    background: #009977;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}
.posi{
  position: fixed;
    bottom: 25px;
    right: 25px;
}
.img{
    width: 25px;
    padding: 0;
    margin: 0;
}