.tabMenu {
  display: flex;
  background: #128C7E;
  width: 100%;
  align-items: center;
}
a{
  margin: 0;
  padding: 0;
}
.tabItem {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  text-decoration: none;
  transition: all .2s;
  padding: 5px 0;
}
.tabItem:first-child {
  width: 15%;
  align-items: center;
  /* background: #000; */
}
.tabItem {
  width: 30%;
  align-items: center;
}
.active {
  transition: all .2s;
  color: #fff;
  padding: 5px 0;
  width: 30%;
  text-align: center;
  border-bottom: 3px solid #fff;
  text-decoration: none;
}
a:hover{
  color: #fff;
}